/node_modules
/bootstrap
/config
/public
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/css
/resources/js
/resources/lang
composer.json
composer.lock
package.json
server.php
artisan